# Folders and files we do not want to copy into Docker build context
.git
.gitignore
node_modules
.cache
coverage
dist
.next
out
__tests__
**/__pycache__
**/*.log
logs
.tmp
.temp
.idea
.vscode
*.code-workspace
Dockerfile
Dockerfile.*
.dockerignore
.env
.env.*
*.md
TEST_PLAN.md
deploy/
scripts/
public/uploads
